#include <windows.h>
#include "resource.h"

IDI_MAIN_ICON ICON "ScreenRotator.ico"

IDD_SETTINGS DIALOGEX 0, 0, 220, 170
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Rotator Settings"
FONT 10, "Segoe UI"
BEGIN
LTEXT           "Normal (0°):", IDC_STATIC, 10, 12, 80, 10
CONTROL         "", IDC_HOTKEY_UP, "EDIT", WS_BORDER | WS_TABSTOP | ES_CENTER | ES_AUTOHSCROLL, 95, 10, 110, 15

LTEXT           "Upside Down (180°):", IDC_STATIC, 10, 42, 80, 10
CONTROL         "", IDC_HOTKEY_DOWN, "EDIT", WS_BORDER | WS_TABSTOP | ES_CENTER | ES_AUTOHSCROLL, 95, 40, 110, 15

LTEXT           "Rotate Left (90°):", IDC_STATIC, 10, 72, 80, 10
CONTROL         "", IDC_HOTKEY_LEFT, "EDIT", WS_BORDER | WS_TABSTOP | ES_CENTER | ES_AUTOHSCROLL, 95, 70, 110, 15

LTEXT           "Rotate Right (270°):", IDC_STATIC, 10, 102, 80, 10
CONTROL         "", IDC_HOTKEY_RIGHT, "EDIT", WS_BORDER | WS_TABSTOP | ES_CENTER | ES_AUTOHSCROLL, 95, 100, 110, 15

CONTROL         "Start with Windows", IDC_STARTUP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 130, 100, 10

DEFPUSHBUTTON   "Save", IDOK, 55, 145, 50, 15
PUSHBUTTON      "Cancel", IDCANCEL, 115, 145, 50, 15
END
